*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout{
    min-height: 100vh;
}
.navbar-collapse{
        flex-basis: 0%;
        flex-grow: 0;
}
.logo-ubicacion{
    height: 2rem;
}
.carousel-item{
    height: 30vh;
    width: 100wh;
}
.carousel-item img{
    height: 30vh;
    object-fit: cover;
}
.texto-titulo{
    display: flex;
    justify-content: center;
}
.ventanita{
    width: 30vw;
}

.card{
    width: 18rem;
    padding: 5px;
    margin-top: 15px;
    margin-right: 20px !important;
    margin-bottom: 5px;
    border-radius: 2% !important;
}

.check-box-fila{
    height: 20vh;
}

.footer{
    margin-top: 5rem;
}
.footer img{
    height: 2rem;
    width: 2rem;
}
.foto-detalle{
    height: 30rem;
    width: 30rem;
}
.cartaDetalle{
    height: 100vh;
    width: 100vh;
}